* {
    font-family: 'Roboto', sans-serif;
}

body {
    align-items: center;
}

a {
    text-decoration: none;
}

.nav-menu ul {
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
}

.nav-item {
    float: left;
    display: inline;
}

.nav-item a {
    display: block;
    padding: 8px 14px;
    color: #329ba1;
}

.container {
    margin: auto;
    max-width: 600px;
}