.chirp-container {
    align-items: center;
    margin: 40px 20px;
}

.chirp-card {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
}

.chirp-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
}

.chirp-username a {
    color: #329ba1;
}

.chirp-username {
    color: #329ba1;
}

.chirp-delete {
    font-size: 14px;
}

.chirp-created-at {
    color: grey;
}