{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Welcome back, {{user.username}}!</h3>
    
        <form method="POST" action="/">
            {% csrf_token %}
            <p>chirp what you're thinking:</p>
            <input name="body" placeholder="what's up :)"/>
            <input type="submit" value="chirp"/>
        </form>

        <hr/>

        {% for chirp in chirps %}
            <div class="chirp-card">
                {% if chirp.author == user %}
                    <p><span class="chirp-username"><b>
                        <a href="/profile/">{{ chirp.author.username }}</a>
                    </b></span> | 
                        <span class="chirp-created-at"><i>{{ chirp.created_at }}</i></span></p>
                    <p>{{ chirp.body }}</p>
                    <span class="chirp-delete"><a href="delete?id={{chirp.id}}">delete chirp</a></span>
                {% else %}
                    <p><span class="chirp-username"><b>
                        <a href="{% url 'user_view' username=chirp.author.username %}">{{ chirp.author.username }}</a>
                    </b></span> | 
                        <span class="chirp-created-at"><i>{{ chirp.created_at }}</i></span></p>
                    <p>{{ chirp.body }}</p>
                {% endif %}
                <hr/>
            </div>
        {% endfor %}

    {% else %}
        <br>
        <h1>welcome to birb! birb is a knockoff version of twitter.</h1>
        <br>
        <img src="http://clipart-library.com/images/zTXeRByKc.png"/
        style="width: 180px; text-align: center;">
        <br><br>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
            <li><a data-toggle="tab" href="#register">Register</a></li>
        </ul>
          
          <div class="tab-content">

            <div id="login" class="tab-pane in active">
                <h2>Log In</h2>
                <form method="POST" action="/login/">
                    {% csrf_token %}
                    <input name="username" placeholder="username" />
                    <input name="password" placeholder="password" type="password" />
                    <input type="submit" value="login"/>
                </form>
            </div>

            <div id="register" class="tab-pane">
                <h2>Register</h2>
                <form method="POST" action="/signup/">
                    {% csrf_token %}
                    <input name="username" placeholder="username" />
                    <input name="email" placeholder="email" />
                    <input name="password" placeholder="password" type="password" />
                    <input type="submit" value="Register"/>
                </form>
            </div>

          </div>

    

        <div style=
        "position: absolute; 
        bottom: 5px; 
        margin-bottom: 10px; 
        max-width: 600px;
        font-size: 80%;">
            Disclaimer: I built this site in a way that logically makes 
            sense to me and mirrors the real Twitter. However, in order to
            fulfill the page requirements, you can check out these
            ugly but functional links. <a href="/accounts">Login/Register Page</a>.
            <a href="/splash/">Splash Page</a>.
        </div>
        
    
    {% endif %}
{% endblock %}

