{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Welcome back, {{user.username}}!</h3>
        
        <form method="POST" action="/">
            {% csrf_token %}
            <p>chirp what you're thinking:</p>
            <input name="body" placeholder="what's up :)"/>
            <input type="submit" value="chirp"/>
        </form>

        <hr/>

        {% for chirp in chirps %}
            <p><span class="chirp-username"><b>{{ chirp.author.username }}</b></span> | 
                <span class="chirp-created-at"><i>{{ chirp.created_at }}</i></span></p>
            <p>{{ chirp.body }}</p>
            {% if chirp.author == user %}
                <a href="delete?id={{chirp.id}}">delete chirp</a>
            {% endif %}
            <hr/>
        {% endfor %}
    {% else %}
        <p>welcome to birb! birb is a knockoff version of twitter.</p>
        <a href="/accounts/">register a new account today or login</a>
        {% endif %}
{% endblock %}

